extends layout.pug
include mixins/_montageCardsRow
include mixins/_imageCardsRow
include mixins/_listCardsRow
include mixins/_cardsSorter

block pageTitle
    title Advance Search - #{defaultPageTitle}
block headline
    h1.ui.header Advance Search
block sorters
    p &nbsp;
block data
    form.ui.form(action=action method="get" id="advancesearch-form" name="advancesearch-form")
        h4.ui.dividing.header Filters
        .field
            .fields
                .twelve.wide.field
                    .ui.selection.dropdown.select-filter
                        input(type="hidden" name="filter" id="filter")
                        i.dropdown.icon
                        .default.text Select Filter
                        .menu
                            .item(data-value="cardName") Name
                            .item(data-value="cardType") Type
                            .item(data-value="cardText") Text
                            .item(data-value="colors") Colors
                            .item(data-value="manaCost") Mana Cost
                            .item(data-value="stats") Stats
                            .item(data-value="format") Format
                            .item(data-value="set") Set
                            .item(data-value="block") Block
                            .item(data-value="rarity") Rarity
                            .item(data-value="artist") Artist
                            .item(data-value="flavorText") Flavor Text
                            .item(data-value="language") Language
                .four.wide.field
                    button.ui.button(type="button"
                                     onclick="addFilter($('.select-filter').dropdown('get text'), $('.select-filter').dropdown('get value'))") Add
        h4.ui.dividing.header Query
        span(id="queryFields")
        h4 &nbsp;
        button.ui.disabled.button.button-filter(type="submit" name="submit" id="submit") Submit


