extends layout.pug

block pageTitle
    title Mobile App - #{defaultPageTitle}
block headline
    p &nbsp;
block sorters
    p &nbsp;
block data
    .container
        .row
            .col-sm-5.col-xs-12
                .iphone.center-content.wow.fadeInLeft(data-wow-duration="1s")
                    img(itemprop="screenshot" src="/images/launch_screen.png" alt="")

            .col-sm-7.col-xs-12.heading-text
                .single_home_content.wow.zoomIn(data-wow-duration="1s")
                    h1 Introducing Mana Guide
                    p.bannerDescription Mana Guide app for Magic: The Gathering.
                    p
                        a(href="https://itunes.apple.com/us/app/mana-guide/id1397865572?ls=1&mt=8")
                            img(src="/images/download_appstore.png" alt="Download in the App Store")

    .container
        .row
            p &nbsp;
            p &nbsp;
            p &nbsp;
        .row
            .works_content.text-center
                .col-md-3.col-sm-6.col-xs-12
                    .single_works_text.wow.fadeInLeft(data-wow-duration=".5s")
                        i.big.circular.database.icon
                        h3 All Sets
                        p(itemprop="applicationCategory") Contains all Sets from Alpha to the latest set.
                .col-md-3.col-sm-6.col-xs-12
                    .single_works_text.wow.fadeInLeft(data-wow-duration=".8s")
                        i.big.circular.search.icon
                        h3 Advanced Card Search
                        p Find the specific cards you need with advanced filters.
                .col-md-3.col-sm-6.col-xs-12
                    .single_works_text.wow.fadeInLeft(data-wow-duration="1.2s")
                        i.big.circular.dollar.icon
                        h3 Card Pricing
                        p View and track card pricing data.
                .col-md-3.col-sm-6.col-xs-12
                    .single_works_text.wow.fadeInLeft(data-wow-duration="1.5s")
                        i.big.circular.box.icon
                        h3 Deck Builder
                        p Build decks, and also view decks built by other people.
                .col-md-3.col-sm-6.col-xs-12
                    .single_works_text.wow.fadeInLeft(data-wow-duration="1.9s")
                        i.big.circular.folder.icon
                        h3 Collection Builder
                        p Manage your card collection via the Collection Builder.
                .col-md-3.col-sm-6.col-xs-12
                    .single_works_text.wow.fadeInLeft(data-wow-duration="2.3s")
                        i.big.circular.star.icon
                        h3 Card Rating
                        p Rate cards and view the top rated cards.
                .col-md-3.col-sm-6.col-xs-12
                    .single_works_text.wow.fadeInLeft(data-wow-duration="2.6s")
                        i.big.circular.apple.icon
                        h3 iOS App
                        p
                            a(href="https://itunes.apple.com/us/app/mana-guide/id1397865572?ls=1&mt=8") Download on the App Store
                .col-md-3.col-sm-6.col-xs-12
                    .single_works_text.wow.fadeInLeft(data-wow-duration="2.9s")
                        i.big.circular.android.icon
                        h3 Android App
                        p Native Android app coming soon.

    .container
        .row
            p &nbsp;
            p &nbsp;
            p &nbsp;
        .row.main_description
            .col-sm-6.col-xs-12
                .left_desc_img.center-content.wow.fadeInLeft(data-wow-duration="1.5s")
                    img(src="/images/iphoneX.png")
            .col-sm-6
                .right_desc_text.top-margin.wow.fadeIn(data-wow-duration="1.5s")
                    h1 Built by Magic Players for Magic Players
                    p Mana Guide started out as a need for a player to find up-to-date information on his cards.

                    .right_desc_bottom_text
                        .right_single_bottom_text
                            i.big.circular.github.icon
                            .right_bottom_description
                                h4 Source code available at GitHub
                                p Clone the repository <a href="https://github.com/vito-royeca/ManaGuide">here</a>. PRs are always welcome.

                        .right_single_bottom_text
                            i.big.circular.database.icon
                            .right_bottom_description
                                h4 Accurate database
                                p Mana Guide's database is sourced from <a href="http://scryfall.com" target="_blank">Scryfall</a>.

                        .right_single_bottom_text
                            i.big.circular.image.icon
                            .right_bottom_description
                                h4 Clear card images
                                p Mana Guide's card images are also sourced from <a href="http://scryfall.com">Scryfall</a>.
