extends layout.pug
include mixins/_montageCardsRow
include mixins/_imageCardsRow
include mixins/_listCardsRow
include mixins/_cardsSorter

block title
    h1.ui.header Search Results: #{ data.length }
    p &nbsp;
block sorters
    +cardsSorter("search")
block data
    if displayAs == "montage"
        .ui.centered.link.cards
            each card in data
                +montageCardsRow(card)
    else if displayAs == "image"
        center
            .ui.medium.images
                each card in data
                    +imageCardsRow(card)
    else if displayAs == "list"
        table.ui.small.table
            thead
                tr
                    th Set
                    th #
                    th Name
                    th Casting Cost
                    th Type
                    th Rarity
                    th Normal
                    th Foil
            tbody
                each card in data
                    +listCardsRow(card)
            tfoot
                tr
                    th(colspan='8')
    else
        .ui.centered.link.cards
            each card in data
                +montageCardsRow(card)

