extends layout.pug
include mixins/_setsRow

block title
    h1.ui.header Sets
block sorters
    p &nbsp;
block data
    table.ui.small.sortable.celled.table
        thead
            tr
                th.center.aligned Symbol
                th Name
                th Cards
                th Release Date
                th Languages
        tbody
            each set in data
                +tableRow(set)
        tfoot
            tr
                th(colspan='5')