.card-profile {
    padding: 15px 2.5%;
    background-color: #F5F6FA;
    border-bottom: 1px dashed #CDCDCD;
    -webkit-perspective: 2000px;
    perspective: 2000px;
}

.card-profile .inner-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.card-image {
    margin: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 336px;
    -ms-flex: 0 0 336px;
    flex: 0 0 336px;
}

.card-image-front, .card-image-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

img.card.lea {
    -webkit-border-radius: 7% / 5.5%;
    border-radius: 7% / 5.5%;
}

img.card.cei, img.card.ced {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.card-image .card {
    -webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}

img.card {
    width: var(--width);
    height: auto;
    -webkit-border-radius: 4.75% / 3.5%;
    border-radius: 4.75% / 3.5%;
    background-image: -webkit-repeating-linear-gradient(145deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
    background-image: -o-repeating-linear-gradient(145deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
    background-image: repeating-linear-gradient(-55deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
}

img.crop {
    width: var(--width);
    height: auto;
    background-image: -webkit-repeating-linear-gradient(145deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
    background-image: -o-repeating-linear-gradient(145deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
    background-image: repeating-linear-gradient(-55deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
}

/*
    Fonts
*/
@font-face {
    font-family: preEightEdition;
    src: url('../fonts/Goudy Medieval.ttf');
}

@font-face {
    font-family: eightEdition;
    src: url('../fonts/Matrix Bold.ttf');
}

@font-face {
    font-family: magic2015;
    src: url('../fonts/typeface-beleren-bold-master/Beleren2016-Bold.ttf');
}

h1.card.name, h2.card.name, h3.card.name, h4.card.name, h5.card.name {
    font-family: var(--font);
}

/*
  Planeswalker loyalty symbols
*/
.mana-symbol-loyalty-plus {
    background: -2px -7px url(../images/loyalty/loyalty-plus.png) no-repeat;
        background-size: auto;
    width: 45px;
    height: 31px;
    padding: 7px;
    background-size: 50px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: white;
}

.mana-symbol-loyalty-minus {
    background: -2px -1px url(../images/loyalty/loyalty-minus.png) no-repeat;
        background-size: auto;
    width: 45px;
    height: 35px;
    padding: 7px;
    background-size: 50px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: white;
}

.mana-symbol-loyalty-zero {
    background: -2px -5px url(../images/loyalty/loyalty-zero.png) no-repeat;
        background-size: auto;
    width: 45px;
    height: 30px;
    padding: 7px;
    background-size: 50px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: white;
}

.mana-symbol-loyalty-initial {
    background: -3px -5px url(../images/loyalty/loyalty-initial.png) no-repeat;
        background-size: auto;
    width: 45px;
    height: 30px;
    padding: 7px;
    background-size: 50px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: white;
}
