mixin cardVariations(card)
    if card.variations.length > 0
        .ui.link.items
            each variation in card.variations
                .item
                    .ui.tiny.image
                        a.image(href="/card/" + variation.new_id)
                            img.medium.rounded.ui.image(src=cardImageUrl(variation, ImageTypeEnum.art_crop, 0)
                                                alt=card.language.code == "en" ? card.name : card.printed_name)
                    .content
                        .description ##{variation.collector_number} &#11825; #{variation.rarity.name}
    else
        p &#8212;