mixin cardOtherPrintings(card)
    if card.other_printings.length > 0
        - var foilMarket = 0
        - var normalMarket = 0

        p
        table.ui.small.table
            thead
                tr
                    th(colspan='2') &nbsp;
                    th.right.aligned Normal
                    th.right.aligned Foil
            tbody
            each printing in card.other_printings
                - foilMarket = 0
                - normalMarket = 0
                each price in printing.prices
                    if price.is_foil
                        - foilMarket = price.market
                    else
                        - normalMarket = price.market
                tr
                    td
                        a.image(href="/card/" + printing.new_id)
                            i(class='ss ss-' + printing.set.keyrune_class + ' ss-' + printing.rarity.name.toLowerCase() + ' ss-2x')
                    td
                        a(href="/card/" + printing.new_id data-position="bottom right") #{ printing.set.name }
                        +cardArtPopup(printing,
                                      ImageTypeEnum.normal,
                                      card.name,
                                      "250px")
                    if normalMarket > 0
                        td.right.aligned $#{ number2USD(normalMarket) }
                    else
                        td.right.aligned &#8212
                    if foilMarket > 0
                        td.right.aligned $#{ number2USD(foilMarket) }
                    else
                        td.right.aligned &#8212

            tfoot
                tr
                    th.center.aligned(colspan='4')
                        if card.other_printings.length == 10
                            p.left.aligned 
                                a(href="/printings/" + card.new_id + "/" + card.language.code + "?displayAs=image&sortedBy=set_release&orderBy=desc") View All Other Printings
                        if foilMarket > 0 || normalMarket > 0 
                            p.left.aligned Pricing data provided by <a href="https://www.tcgplayer.com" target="_blank" rel="noopener noreferrer"> TCGPlayer</a>
                    

    else
        p &#8212;