mixin cardVariations(card)
    if card.variations.length > 0
        p &nbsp;
        .ui.link.items
            each variation in card.variations
                .item
                    .ui.tiny.image
                        a.image(href="/card/" + variation.id)
                            if variation.faces.length > 0
                                img.medium.ui.image(src="/images/cards/" + variation.set.code + "/" + variation.language.code + "/" + variation.faces[0].id + "/art_crop.jpg"
                                    alt=card.language.code == "en" ? card.name : card.printed_name)
                            else
                                img.medium.ui.image(src="/images/cards/" + variation.set.code + "/" + variation.language.code + "/" + variation.id + "/art_crop.jpg"
                                    alt=card.language.code == "en" ? card.name : card.printed_name)
                    .content
                        .extra ##{variation.collector_number} &#11825; #{variation.rarity.name}
    else
        p &#8212;