mixin cardVariations(card)
    if card.variations.length > 0
        .ui.link.items
            each variation in card.variations
                .item
                    .ui.tiny.image
                        a.image(href="/card/" + variation.new_id)
                            img.medium.rounded.ui.image(src=cardImageUrl(variation, ImageTypeEnum.art_crop, 0)
                                                        alt=card.language.code == "en" ? card.name : card.printed_name)
                    .middle.aligned.content
                        .description
                            a(href="/card/" + variation.new_id data-position="bottom left") ##{variation.collector_number}
                            +cardArtPopup(variation,
                                          ImageTypeEnum.normal,
                                          card.language.code == "en" ? variation.name : variation.printed_name,
                                          "250px")
                            
    else
        p &#8212;