mixin cardOtherPrintings(card)
    if card.other_printings.length > 0
        - var foilMarket = 0
        - var normalMarket = 0

        p
        table.ui.small.table
            thead
                tr
                    th(colspan='2') &nbsp;
                    th.right.aligned Normal
                    th.right.aligned Foil
            tbody
            each printing in card.other_printings
                each price in printing.prices
                    if price.is_foil
                        - foilMarket = price.market
                    else
                        - normalMarket = price.market
                tr
                    td
                        a.image(href="/card/" + printing.new_id)
                            i(class='ss ss-' + printing.set.keyrune_class + ' ss-' + printing.rarity.name.toLowerCase() + ' ss-2x')
                    td
                        a(href="/card/" + printing.new_id data-position="bottom right") #{ printing.set.name }
                        +cardArtPopup(printing,
                                      ImageTypeEnum.normal,
                                      card.language.code == "en" ? card.name : card.printed_name,
                                      "250px",
                                      card.language.code,
                                      printing.collector_number,
                                      card.faces != undefined && card.faces.length > 0)
                    if normalMarket > 0
                        td.right.aligned $#{ normalMarket }
                    else
                        td.right.aligned &#8212
                    if foilMarket > 0
                        td.right.aligned $#{ foilMarket }
                    else
                        td.right.aligned &#8212

            tfoot
                tr
                    if foilMarket > 0 || normalMarket > 0 
                        th.center.aligned(colspan='4') Pricing data provided by <a href="https://www.tcgplayer.com" target="_blank" rel="noopener noreferrer"> TCGPlayer</a>
                    else     
                        th.center.aligned(colspan='4') &nbsp;

    else
        p &#8212;