mixin cardLanguageButtons(card)
    h3
        i(class="language icon")
        .mini.ui.buttons
            if card.language.code == "en"
                .ui.button.disabled EN
            else
                each other_language in card.other_languages
                    if other_language.code == "en"
                        a(href="/card/" + card.set.code + "_" + other_language.code + "_" + card.collector_number)
                            .ui.button EN

            if card.language.code == "es"
                .ui.button.disabled ES
            else
                each other_language in card.other_languages
                    if other_language.code == "es"
                        a(href="/card/" + card.set.code + "_" + other_language.code + "_" + card.collector_number)
                            .ui.button ES

            if card.language.code == "fr"
                .ui.button.disabled FR
            else
                each other_language in card.other_languages
                    if other_language.code == "fr"
                        a(href="/card/" + card.set.code + "_" + other_language.code + "_" + card.collector_number)
                            .ui.button FR

            if card.language.code == "de"
                .ui.button.disabled DE
            else
                each other_language in card.other_languages
                    if other_language.code == "de"
                        a(href="/card/" + card.set.code + "_" + other_language.code + "_" + card.collector_number)
                            .ui.button DE

            if card.language.code == "it"
                .ui.button.disabled IT
            else
                each other_language in card.other_languages
                    if other_language.code == "it"
                        a(href="/card/" + card.set.code + "_" + other_language.code + "_" + card.collector_number)
                            .ui.button IT

            if card.language.code == "pt"
                .ui.button.disabled PT
            else
                each other_language in card.other_languages
                    if other_language.code == "pt"
                        a(href="/card/" + card.set.code + "_" + other_language.code + "_" + card.collector_number)
                            .ui.button PT

            if card.language.code == "ja"
                .ui.button.disabled JA
            else
                each other_language in card.other_languages
                    if other_language.code == "ja"
                        a(href="/card/" + card.set.code + "_" + other_language.code + "_" + card.collector_number)
                            .ui.button JA

            if card.language.code == "ko"
                .ui.button.disabled KO
            else
                each other_language in card.other_languages
                    if other_language.code == "ko"
                        a(href="/card/" + card.set.code + "_" + other_language.code + "_" + card.collector_number)
                            .ui.button KO

            if card.language.code == "ru"
                .ui.button.disabled RU
            else
                each other_language in card.other_languages
                    if other_language.code == "ru"
                        a(href="/card/" + card.set.code + "_" + other_language.code + "_" + card.collector_number)
                            .ui.button RU

            if card.language.code == "zhs"
                .ui.button.disabled 汉语
            else
                each other_language in card.other_languages
                    if other_language.code == "zhs"
                        a(href="/card/" + card.set.code + "_" + other_language.code + "_" + card.collector_number)
                            .ui.button 汉语

            if card.language.code == "zht"
                .ui.button.disabled 漢語
            else
                each other_language in card.other_languages
                    if other_language.code == "zht"
                        a(href="/card/" + card.set.code + "_" + other_language.code + "_" + card.collector_number)
                            .ui.button 漢語 