mixin cardParts(card)
    if card.component_parts.length > 0
        .ui.link.items
            each part in card.component_parts
                .item
                    .ui.tiny.image
                        a.image(href="/card/" + part.card.new_id)
                            img.medium.rounded.ui.image(src=cardImageUrl(part.card, ImageTypeEnum.art_crop, 0)
                                alt=part.card.name)
                    .content
                        .descripiton
                            a.image(href="/card/" + part.card.new_id data-position="bottom left") #{part.card.name}
                            +cardArtPopup(part.card,
                                          ImageTypeEnum.normal,
                                          card.language.code == "en" ? part.card.name : part.card.printed_name,
                                          "250px",
                                          card.language.code,
                                          part.card.collector_number,
                                          card.faces != undefined && card.faces.length > 0)
                        .meta #{part.component.name}

    else
        p &#8212;