mixin cardLegalities(card)
    if card.format_legalities.length > 0
        - var format_legalities = card.format_legalities
        - var dict = {}

        - for (i = 0; i < format_legalities.length; i++) {
        -    var array = dict[format_legalities[i].legality.name]
        -    if (array != null) {
        -        array.push(format_legalities[i].format.name)        
        -    } else {
        -        var newArray = [format_legalities[i].format.name]
        -        dict[format_legalities[i].legality.name] = newArray
        -    }
        - }

        .ui.list
            each val, key in dict
                .item
                    .content
                        .header #{key}
                        .description
                            .ui.large.horizontal.divided.list
                                each format in val
                                    .item
                                        .content
                                            .description #{format}

    else
        p &#8212;

