mixin imageTableRow(card)
    a.image(href="/card/" + card.id + "?displayAs=" + displayAs + "&sortedBy=" + sortedBy+"&orderBy=" + orderBy)
        img.ui.image(src="/images/cards/" + card.set.code + "/" + card.language.code + "/" + card.id + "/normal.jpg")