- const defaultPageTitle = "Mana Guide is a comprehensive database of Magic: The Gathering cards"
- const defaultPageDescription = "Mana Guide is a comprehensive database of Magic: The Gathering cards. Search Magic MTG cards, View Pricing of Magic MTG cards, and more, at ManaGuideApp.com"
- const defaultPageKeywords = "MTG Magic Gathering cards game tcg pricing mobile app ios android Vito Royeca"
- const defaultPageAuthor = "Vito Royeca"