-    const ImageTypeEnum = { "art_crop": 1, "normal": 2, "png": 3 }
-
-    function manaCost2Html(manaCost) {
-        if (manaCost == null || manaCost.length == 0) {
-            return ""
-        }
-        const symbols = manaSymbols(manaCost)
-        let htmlString = ""
-
-        for (var i=0; i<symbols.length; i++) {
-            const mana = symbols[i]
-
-            if (mana == "//") {
-                htmlString += mana
-            } else {
-                htmlString += "<img src='/images/mana/" + mana + ".svg' height='16' />"
-            }
-        }
-        return htmlString
-    }
-
-    function manaSymbols(manaCost) {
-        if (manaCost == null) {
-            return null
-        }
-
-        let cleanString = manaCost.replace(/{/g, "").trim()
-        cleanString = cleanString.replace(/ /g, "").trim()
-        if (cleanString.includes("//")) {
-           cleanString = cleanString.replace(/\/\//g, "//}").trim()
-        } else if (cleanString.includes("/")) {
-           cleanString = cleanString.replace(/\//g, "").trim()
-        }
-
-        let array = cleanString.split("}")
-        let manaArray = []
-
-        for (var i = 0; i < array.length-1; i++) {
-            let mana = array[i]
-
-            if (mana.toLowerCase() == "chaos") {
-                mana = "Chaos"
-            } else if (mana.toLowerCase() == "∞") {
-                mana = "Infinity"
-            }
-            if (mana.length == 3 && mana.includes("/")) {
-                mana = mana.replace(/\//g, "").trim()
-            }
-            manaArray[i] = mana
-        }
-        return manaArray
-    }
-
-    function changeManaSymbolsInText(text) {
-        if (text == null) {
-            return ""
-        }
-
-        let manaStart = -1
-        let manaEnd = -1
-        let loyaltyStart = -1
-        let loyaltyEnd = -1
-        let sentinel = 0
-        let newText = ""
-        let leftString = ""
-        let rightString = ""
-
-        for (var i = 0; i < text.length; i++) {
-            const charAt = text.charAt(i)
-
-            if (charAt == '+' || charAt == '−') {
-                loyaltyStart = i
-                manaStart = -1
-            } else if (charAt == '0') {
-                if (text.charAt(i-1) == "\n") {
-                    loyaltyStart = i
-                }
-            } else if (charAt == '{') {
-                manaStart = i
-                loyaltyStart = -1
-            }                 
-
-            if (charAt == ':' && loyaltyStart != -1 && manaStart == -1) {
-                if (i+2 <= text.length-1 && text.charAt(i+1) == '/' && text.charAt(i+2) == '/') { // ignore http:// protocol
-                    continue
-                }
-
-                loyaltyEnd = i
-
-                const loyaltyCost = text.substring(loyaltyStart, loyaltyEnd)
-                const loyaltyString = loyaltyCost.replace(/:/g, "").replace(/\n/g, "")
-                let loyaltySymbol = ""
-                if (loyaltyString.startsWith('+')) {
-                    loyaltySymbol = "<p/><span class=\'mana-symbol-loyalty-plus\'>" + loyaltyString + "</span> "
-                } else if (loyaltyString.startsWith('−')) {
-                    loyaltySymbol = "<p/><span class=\'mana-symbol-loyalty-minus\'>" + loyaltyString + "</span> "
-                } else {
-                    loyaltySymbol = "<p/><span class=\'mana-symbol-loyalty-zero\'>" + loyaltyString + "</span> "
-                }

-                leftString = text.substring(sentinel, loyaltyStart)
-                rightString = text.substring(loyaltyEnd)
-                newText = newText + leftString + loyaltySymbol
-                sentinel = loyaltyEnd
-            } else if (charAt == '}' && manaStart != -1) {
-                manaEnd = i+1
-
-                const manaCost = text.substring(manaStart, manaEnd)
-                let manaString = manaCost.replace(/{/g, "").replace(/}/g, "").replace(/\//g, "")
-                if (manaString.toLowerCase() == "chaos") {
-                    manaString = "Chaos"
-                } else if (manaString.toLowerCase() == "∞") {
-                    manaString = "Infinity"
-                }
-                const manaSymbol = "<img src=\'/images/mana/" + manaString + ".svg\' height=\'16\' />"
-
-                leftString = text.substring(sentinel, manaStart)
-                rightString = text.substring(manaEnd)
-                newText = newText + leftString + manaSymbol
-                sentinel = manaEnd
-            }
-
-            if (i == text.length - 1) {
-               newText = newText.length == 0 ? text : newText + rightString 
-            }
-        }
-
-        newText = newText.replace(/\n/g, "<br/>").trim()    
-        return newText
-    }
-
-    function cardImageUrl(card, imageTypeType, index) {
-        let path = ""
-
-        if (card.faces != null && card.faces.length > 0) {
-            if (imageTypeType == ImageTypeEnum.art_crop) {
-                path = card.faces[index].art_crop_url
-            } else if (imageTypeType == ImageTypeEnum.normal) {
-                path = card.faces[index].normal_url
-            } else if (imageTypeType == ImageTypeEnum.png) {
-                path = card.faces[index].png_url
-            }
-
-        } else {
-            if (imageTypeType == ImageTypeEnum.art_crop) {
-                path = card.art_crop_url
-            } else if (imageTypeType == ImageTypeEnum.normal) {
-                path = card.normal_url
-            } else if (imageTypeType == ImageTypeEnum.png) {
-                path = card.png_url
-            }
-        }
-
-        return path
-    }
-
-    function splitRule(data) {
-        let array = []
-
-        if (data.length > 0) {
-            let current = data[0]
-            while (true) {
-                const parent = current.parent
-                if (parent != null) {
-                    array.splice(0, 0, parent)
-                    current = parent
-                } else {
-                    break
-                }
-            }
-        }
-        return array
-    }
-
-    function cardHeaderFont(card) {
-        let releasedAt = card.released_at
-
-        if (releasedAt != null) {
-            let cardDate      = new Date(releasedAt).getTime()
-            let modernDate    = new Date("2003-07-28").getTime()
-            let magic2015Date = new Date("2014-07-18").getTime()
-
-            if (cardDate < modernDate) {
-                return "preEightEdition"
-            } else if (cardDate >= modernDate && cardDate < magic2015Date) {
-                return "eightEdition"
-            } else {
-                return "magic2015"
-            }    
-        } else {
-            return "magic2015"
-        }
-    }
-
-    function number2USD(number) {
-        // 12,345.67
-        return number != null || number != undefined ? (number).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') : 0
-    }

