-    const ImageTypeEnum = { "art_crop": 1, "normal": 2, "png": 3 }
-
-    function manaCost2Html(manaCost) {
-        if (manaCost == null || manaCost.length == 0) {
-            return ""
-        }
-        const symbols = manaSymbols(manaCost)
-        let htmlString = ""
-
-        for (var i=0; i<symbols.length; i++) {
-            const mana = symbols[i]
-
-            if (mana == "//") {
-                htmlString += mana
-            } else {
-                htmlString += "<img src='/images/mana/" + mana + ".svg' height='16' />"
-            }
-        }
-        return htmlString
-    }
-
-    function manaSymbols(manaCost) {
-        if (manaCost == null) {
-            return null
-        }
-
-        let cleanString = manaCost.replace(/{/g, "").trim()
-        cleanString = cleanString.replace(/ /g, "").trim()
-        if (cleanString.includes("//")) {
-           cleanString = cleanString.replace(/\/\//g, "//}").trim()
-        } else if (cleanString.includes("/")) {
-           cleanString = cleanString.replace(/\//g, "").trim()
-        }
-
-        let array = cleanString.split("}")
-        let manaArray = []
-
-        for (var i = 0; i < array.length-1; i++) {
-            let mana = array[i]
-
-            if (mana.toLowerCase() == "chaos") {
-                mana = "Chaos"
-            }
-            if (mana.length == 3 && mana.includes("/")) {
-                mana = mana.replace(/\//g, "").trim()
-            }
-            manaArray[i] = mana
-        }
-        return manaArray
-    }
-
-    function changeManaSymbolsInText(text) {
-        if (text == null) {
-            return ""
-        }
-
-        let sentinel = 0
-        let manaStart = -1
-        let manaEnd = -1
-        let newText = ""
-        let leftString = ""
-        let rightString = ""
-
-       for (var i = 0; i < text.length; i++) {
-            const charAt = text.charAt(i)
-
-            if (charAt == '{') {
-                manaStart = i
-            }
-            if (charAt == '}' && manaStart != -1) {
-                manaEnd = i+1

-                const manaCost = text.substring(manaStart, manaEnd)
-                let manaString = manaCost.replace(/{/g, "").replace(/}/g, "").replace(/\//g, "")
-                if (manaString.toLowerCase() == "chaos") {
-                    manaString = "Chaos"
-                }
-                const manaSymbol = "<img src=\'/images/mana/" + manaString + ".svg\' height=\'16\' />"
-
-                leftString = text.substring(sentinel, manaStart)
-                rightString = text.substring(manaEnd)
-                newText = newText + leftString + manaSymbol
-                sentinel = manaEnd
-            }
-
-            if (i == text.length - 1) {
-                if (manaStart == -1 || manaEnd == 1) {
-                    newText = text
-                } else {
-                    newText = newText + rightString
-                }
-            }
-        }
-
-        newText = newText.replace(/\n/g, "<br/>").trim()
-        return newText
-    }
-
-    function cardImageUrl(card, imageTypeType, index) {
-        if (card.image_uris != undefined && card.image_uris.length > 0) {
-            if (imageTypeType == ImageTypeEnum.art_crop) {
-                return card.image_uris[index].art_crop
-            } else if (imageTypeType == ImageTypeEnum.normal) {
-                return card.image_uris[index].normal
-            } else if (imageTypeType == ImageTypeEnum.png) {
-                return card.image_uris[index].png
-            }
-        } else {
-            return ""
-        }
-    }
-
-    function splitRule(data) {
-        let array = []
-
-        if (data.length > 0) {
-            let current = data[0]
-            while (true) {
-                const parent = current.parent
-                if (parent != null) {
-                    array.splice(0, 0, parent)
-                    current = parent
-                } else {
-                    break
-                }
-            }
-        }
-        return array
-    }


